<div class="product-card">
  <a href="{{ product.url | within: collection }}" class="product-card__link group">
    <div class="relative overflow-y-hidden h-full">
      {% include 'responsive-image' with image: product.featured_image, max_width: 500, max_height: 500, wrapper_class: 'w-full h-full', image_class: 'w-full h-full object-cover' %}
      <div class="product-card__atc group-hover:translate-y-0">
        {% if product.available %}
          {% include 'component-add-to-cart-form' %}
        {% else %}
          <p>Sold Out</p>
        {% endif %}
      </div>
    </div>
    <h2 class="mt-16 text-center">{{ product.title }} – {{ product.price | money }}</h2>
  </a>
</div>