.visually-hidden {
  position: absolute!important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

@responsive {
  .abs-c {
    @apply absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .abs-l {
    @apply absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .abs-r {
    @apply absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}



