$bar-color: #000;
$bar-radius: 4px;
$bar-height: 2px;
$inner-height: 18px;
$inner-width: 24px;
$outer-padding: 0;

$bar-gap: ($inner-height - ($bar-height * 3)) / 2;
$bar-margin: $bar-gap + $bar-height;
$outer-height: $inner-height + ($outer-padding * 2);
$outer-width: $inner-width + ($outer-padding * 2);

.hamburger {
  padding: $outer-padding;
  height: $outer-height;
  width: $outer-width;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
}

.hamburger:hover {
  opacity: 0.7; 
}

.hamburger.is-active:hover {
  opacity: 0.7; 
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $bar-color; 
}

.hamburger-box {
  width: $inner-width;
  height: $inner-height;
  display: inline-block;
  position: relative; 
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger.is-active .hambuger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: $inner-width;
  height: $bar-height;
  background-color: $bar-color;
  border-radius: $bar-radius;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; 
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; 
}

.hamburger-inner::before {
  top: $bar-margin * -1;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease; 
}

.hamburger.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease; 
}

.hamburger-inner::after {
  bottom: $bar-margin * -1;
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
}