{% comment %}

  ––– REQUIRED JS CLASSES –––
  .js-nav--hamburger – to toggle active hamburger class / open mobile menu
  .js-cart--toggle – to open / close the minicart
  .js-cart--outline – to show empty cart icon
  .js-cart--filled – to show filled cart icon
  .js-cart--itemCount – to update cart item count with ajax

{% endcomment %}

{% assign nest_mode = section.settings.nest_mode %}

<div class="container relative h-header flex flex-row items-center justify-between">

  <a href="/" id="logo" class="z-40 w-80 abs-c">
    {% include 'inline-icon' with svg: 'icon-logo.svg', alt: shop_title, class: 'logo__main' %}
  </a>

  <button class="hamburger js-nav--hamburger reset-input order-first z-40 md:hidden" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <div class="nav--actions z-40 order-last flex flex-row items-center">
    {% if section.settings.show_currency %}
      {% include 'currency-picker' with class: 'mr-12 hidden md:block' %}
    {% endif %}
    {% if section.settings.show_search %}
      <a href="/search" class="inline-block w-24 mr-12 md:mr-16">
        {% include 'inline-icon' with svg: 'icon-search.svg' %}
      </a>
    {% endif %}
    {% if shop.customer_accounts_enabled %}
      <a href="/account" class="inline-block w-24 mr-12 md:mr-16">
        {% include 'inline-icon' with svg: 'icon-account.svg' %}
      </a>
    {% endif %}
    <a href="/cart" id="cart_button" class="js-cart--toggle inline-block w-24">
      <span class="js-cart--outline {% if cart.item_count > 0 %} visually-hidden {% endif %}">
        {% include 'inline-icon' with svg: 'icon-cart-empty.svg' %}
      </span>
      <span class="js-cart--filled {% if cart.item_count == 0 %} visually-hidden {% endif %}">
        {% include 'inline-icon' with svg: 'icon-cart-filled.svg' %}
      </span>
      <span class="js-cart--itemCount hidden">{{ cart.item_count }}</span>
    </a>
  </div>

  {% include 'header--nav' with menu: section.settings.main_menu %}

</div>

{% include 'header--mobile-menu' with link_list: section.settings.main_menu %}

{% schema %}
  {
    "name": "Header",
    "class": "header__bar fixed w-screen inset-0 h-header z-30",
    "settings": [
      {
        "type": "header",
        "content": "Settings"
      },
      {
        "type": "checkbox",
        "id": "use_transparent",
        "label": "Use Transparent Header",
        "info": "Before the user scrolls, the header will have a transparent background.",
        "default": true
      },
      {
        "type": "header",
        "content": "Actions"
      },
      {
        "type": "checkbox",
        "id": "show_currency",
        "label": "Show Currency Picker",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_search",
        "label": "Show Search",
        "default": true
      },
      {
        "type": "header",
        "content": "Links"
      },
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main Menu",
        "default": "main-menu"
      },
      {
        "type": "select",
        "id": "nest_mode",
        "label": "Nested Link Style",
        "options": [
          { "value": "dropdown", "label": "Dropdown" },
          { "value": "sidebar", "label": "Sidebar" }
        ],
        "info": "Choose how nested links should be displayed",
        "default": "dropdown"
      }
    ]
  }
{% endschema %}