{% assign logo_position = section.settings.logo_position %}
{% assign nav_position = section.settings.main_nav_position %}
{% assign nest_mode = section.settings.nest_mode %}

<div class="container relative z-30 h-header flex flex-row items-center {% if nav_position != 'left' %} justify-end {% else %} justify-between {% endif %}">

  <a href="/" id="logo" class="z-40 w-80 abs-c {% if nav_position == 'left' %} md:abs-c {% else %} md:abs-l md:left-16 md:left-32 {% endif %}">
    {% include 'inline-icon' with svg: 'icon-logo.svg', alt: shop_title, class: 'logo__main' %}
  </a>

  <button class="hamburger reset-input abs-l left-16 z-40 md:hidden" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <div class="nav--actions z-40 order-last flex flex-row items-center">
    {% if section.settings.show_currency %}
      {% include 'currency-picker' with class: 'mr-12 hidden md:block ' %}
    {% endif %}
    {% if section.settings.show_search %}
      <a href="/search" class="inline-block w-24 mr-12 md:mr-16">
        {% include 'inline-icon' with svg: 'icon-search.svg' %}
      </a>
    {% endif %}
    {% if shop.customer_accounts_enabled %}
      <a href="/account" class="inline-block w-24 mr-12 md:mr-16">
        {% include 'inline-icon' with svg: 'icon-account.svg' %}
      </a>
    {% endif %}
    <a href="/cart" id="cart_button" class="inline-block w-24">
      {% if cart.item_count == 0 %}
        {% include 'inline-icon' with svg: 'icon-cart-empty.svg' %}
      {% else %}
        {% include 'inline-icon' with svg: 'icon-cart-filled.svg' %}
      {% endif %}
    </a>
  </div>

  {% include 'header--links' with menu: section.settings.main_menu, position: nav_position %}

</div>

{% include 'mobile-menu' with link_list: section.settings.main_menu %}

{% schema %}
  {
    "name": "Header Bar",
    "class": "header__bar fixed w-screen inset-0",
    "settings": [
      {
        "type": "header",
        "content": "Settings"
      },
      {
        "type": "select",
        "id": "logo_position",
        "label": "Logo Position",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "center", "label": "Centre" }
        ],
        "default": "center"
      },
      {
        "type": "checkbox",
        "id": "use_transparent",
        "label": "Use Transparent Header",
        "info": "Before the user scrolls, the header will have a transparent background.",
        "default": true
      },
      {
        "type": "header",
        "content": "Actions"
      },
      {
        "type": "checkbox",
        "id": "show_currency",
        "label": "Show Currency Picker",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_search",
        "label": "Show Search",
        "default": true
      },
      {
        "type": "header",
        "content": "Links"
      },
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main Menu"
      },
      {
        "type": "select",
        "id": "main_nav_position",
        "label": "Main Menu Position",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" },
          { "value": "center", "label": "Center" }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "nest_mode",
        "label": "Nested Link Style",
        "options": [
          { "value": "dropdown", "label": "Dropdown" },
          { "value": "sidebar", "label": "Sidebar" }
        ],
        "info": "Choose how nested links should be displayed",
        "default": "dropdown"
      }
    ]
  }
{% endschema %}