<div class="cart--contents">
  <h1>Cart</h1>
  {% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate>
      <div>
        {% for item in cart.items %}
          <div>
            <div class="line--image">
              <a href="{{ item.url | within: collections.all }}">
                {% include 'responsive-image' with image: item.image, max_width: 160, max_height: 300 %}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </form>
  {% else %}
    <p>Your cart is currently empty</p>
    <a href="/" class="button">Continue Shopping</a>
  {% endif %}  
</div>


